#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
#Footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
    
}
img:hover{
border-radius:20px ;
border:10px solid navy;
}
body{
    background-color: azure;
}
#result1,#result2,#result3{
    display:inline;
}
#resultShow{
    margin-bottom: 100px;
}